<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
<body>
    <header class="header-nav">
    <nav><a href="#first-block"></a></nav>
    </header>

    <section id="first-block">
    <div class="title-container">
  
      
    </div>
    </div>
  </section>

    <div class="hello-text">
    CurlMeetとは・・・・<br><br>
    チームが組めなくてカーリングを楽しめないという課題を解決するため<br>
    作成したチームを組むためのマッチングサイトです
    </div>

  <section class="hello-link">

    <% if user_signed_in? %>
    <%= link_to user_path(current_user.id), class: "hello-ushowlink" do %>
    
    <div class="hello-left">
    <img src="/assets/IMG_004.jpeg" alt="", class="hello-img">
    <br>
    <p class="hello-linktext">マイページ</P>
    </div>
    <% end %>
    <% end %>

    <% unless user_signed_in? %>
    <%= link_to new_user_registration_path, class: "hello-ushowlink" do %>
      <div class="hello-left">
      <img src="/assets/IMG_004.jpeg" alt="", class="hello-img">
      <br>
      <p class="hello-linktext">新規登録</P>
      </div>
    <% end %>
    <% end %>



    <%= link_to users_path,class: "hello-uindexlink" do %>
      <div class="hello-cleft">
      <img src="/assets/IMG_005.jpeg" alt="", class="hello-img">
      <br>
      <p class="hello-linktext">選手掲示板</P>
      </div>
    <% end %>

    
    <%= link_to teams_path,class: "hello-tindexlink" do %>
      <div class="hello-cright">
      <img src="/assets/IMG_006.jpeg" alt="", class="hello-img">
      <br>
      <p class="hello-linktext">チーム一覧</P>
      </div>
    <% end %>


    <%= link_to teams_new_path, class:"hello-tnewlink " do %>
      <div class="hello-right">
      <img src="/assets/IMG_007.jpeg" alt="", class="hello-img">
      <br>
      <p class="hello-linktext">チーム新規登録</p>
      </div>
    <% end %>

  </section>
    
  
