<div class="title-index">個人掲示板</div>
<br>
<%= page_entries_info @users_want %>
<section class="user-index-container">
  <% @users_want.each do |t| %>
    <%= link_to user_path(t.id), class:"user-index-link" do%>
    <div class="user-index">
     <%= t.uassoci %> <strong><%= t.uname %></strong>
      (<%= t.uage %>)
      <br>
      <%= t.usex %> 　競技歴:<%= t.uyoe %>年
      <br>
      拠点:<%= t.uhole %>
      
      活動頻度:<%= t.ufrequ %>
      
    </div>
    <% end %>
  <% end %>
</section>

<%= paginate @users_want %>
