<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
<body>
    <header class="header-nav">
    <nav><a href="#first-block"></a></nav>
    </header>

    <section id="first-block">
    <div class="title-container">
    
    <div class="title-index-usershow">マイページ</div>
    <div class="show-user0">名前 : <%= @user.uname %></div>
    <div class="show-user2">性別 : <%= @user.usex %></div>
    <div class="show-user1">年齢 : <%= @user.uage %>歳</div>
    <div class="show-user2">経験年数 : <%= @user.uyoe %>年</div>
    <div class="show-user1">活動ホール: <%= @user.uhole %></div>
    <div class="show-user2">所属協会: <%= @user.uassoci %></div>
    <div class="show-user1">活動頻度 : <%= @user.ufrequ %></div>
    <div class="show-user2">チーム所属希望 : <%= @user.ustatus %></div>

    <br>
    
    <% if current_user.id == @user.id %>
      <%= link_to "編集", edit_user_registration_path, class:"edit-link" %>
    <% else %>
      <% if @isRoom == true %>
      <p><%= link_to "DMへ", room_path(@roomId), class:"edit-link" %></p>
      <% else %>
      <%= form_for @room do |f| %>
          <%= fields_for @entry do |e|%>
            <% e.hidden_field :user_id, value: @user.id %>
          <% end %>
        <%= f.submit "DMを開始する", class:"new-link" %>
        <% end %>
      <% end %>
    <% end %>
    
      
    </div>
    </div>
  </section>
  



<% if current_user.id == @user.id %>
  <div class="title-index-usershow">DM一覧</div><br>
  <% @rooms.each do |r| %>
    <% r.users.each do |u| %>
     <% if u.id == current_user.id %>
     <% else %>
        <p class="dm-link"><a class="small-link" href="/rooms/<%= r.id %>"><%= u.uname %>さん</a></p>
     <% end %>
    <% end %> 
  <% end %>
<% end %>
<br>