<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
<body>
    <header class="header-nav">
    <nav><a href="#first-block"></a></nav>
    </header>

    <section id="first-block">
    <div class="title-container">
    
    <div class="title-index-usershow">マイページ</div>
    <div class="show-user0"><p class="user-show-content">名前 :</p>  <p class="user-show-text"><%= @user.uname %></p></div>
    <div class="show-user2"><p class="user-show-content">性別 : </p>  <p class="user-show-text"><%= @user.usex %></p></div>
    <div class="show-user1"><p class="user-show-content">年齢 : </p>  <p class="user-show-text"><%= @user.uage %>歳</p></div>
    <div class="show-user2"><p class="user-show-content">経験年数 : </p>  <p class="user-show-text"><%= @user.uyoe %>年</p></div>
    <div class="show-user1"><p class="user-show-content">活動ホール: </p>  <p class="user-show-text"><%= @user.uhole %></p></div>
    <div class="show-user2"><p class="user-show-content">所属協会: </p>  <p class="user-show-text"><%= @user.uassoci %></p></div>
    <div class="show-user1"><p class="user-show-content">活動頻度 : </p>  <p class="user-show-text"><%= @user.ufrequ %></p></div>
    <div class="show-user2"><p class="user-show-content">チーム所属希望 :</p>  <p class="user-show-text"><%= @user.ustatus %></p></div>

    <br>
    
    <% if current_user.id == @user.id %>
      <%= link_to "編集", edit_user_registration_path, class:"edit-link" %>
    <% else %>
      <% if @isRoom == true %>
      <p><%= link_to "DMへ", room_path(@roomId), class:"edit-link" %></p>
      <% else %>
      <%= form_for @room do |f| %>
          <%= fields_for @entry do |e|%>
            <% e.hidden_field :user_id, value: @user.id %>
          <% end %>
        <%= f.submit "DMを開始する", class:"new-link" %>
        <% end %>
      <% end %>
    <% end %>
    
      
    </div>
    </div>
  </section>
  



<% if current_user.id == @user.id %>
  <div class="title-index-usershow">DM一覧</div><br>
  <% @rooms.each do |r| %>
    <% r.users.each do |u| %>
     <% if u.id == current_user.id %>
     <% else %>
        <p class="dm-link"><a class="small-link" href="/rooms/<%= r.id %>"><%= u.uname %>さん</a></p>
     <% end %>
    <% end %> 
  <% end %>
<% end %>
<br>