<div class="user-in">
<% @entries.each do |e| %>
    
    <% if current_user.id != e.user_id %>
    <div class="title-index"><a href="/users/<%= e.user.id %>" id="dm-title"><%= e.user.uname%></a></div>
    <% end %>

<% end %>
</div>


    <% @messages.each do |m| %>
        <% if current_user.id != m.user_id %>
       
       <div class="dm-left"> <small><%= m.user.uname %>さん</small> <p class="dm-you"><%= m.body %></p> <small><%= m.created_at %></small> </div>
        
        <% else %>
        <div class="dm-right">
         <p class="dm-my">
         <%= m.body %>
        </p>
        <small>自分<%= m.created_at %></small>
        <% end %>
        <small></small></div><br>
        


    <% end %>
    <br>
<div class="dmMain">
    <%= form_for @message do |f| %>
    <%= f.text_field :body, :placeholder => "メッセージを入力して下さい" , :size => 100 ,required:true %>
    <%= f.hidden_field :room_id, :value => @room.id %>
    
    <%= f.submit "送信する" ,class:"submit-link" %>
    <% end %>
</div>
<br><br>
<%= link_to "マイページへ戻る", user_path(current_user.id), class:"new-link" %>
<br>

<style>
.user-in{
    text-align:center;
    border:1px solid darkgray;
    background-color:gainsboro;
}
.dmMain{
    padding:30px;
    border:1px solid darkgray;
    background-color: #ffffff

}
</style>